<form name="scheduleForm" noValidate class="form-horizontal" style="width:500px; margin-left:50px;">
  <fieldset>
    <legend>Modify schedule</legend>
    <div class="modal-body">
   	    
   	  <div class="form-group">
        <label for="time" class="col-lg-2 control-label">Start time:</label>
        <div class="col-lg-4">
          <div uib-timepicker ng-model="itemChanged.time1" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="false"></div>
        </div>
      </div>
  	  <div class="form-group">
        <label for="time" class="col-lg-2 control-label">End Time:</label>
        <div class="col-lg-4">
          <div uib-timepicker ng-model="itemChanged.time2" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="false"></div>
        </div>
      </div>
   	    
	    <div class="form-group">
	    
	      <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveSchedule(itemChanged)">Save schedule</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
	    </div>
    </div>
  </fieldset>
</form>