<form name="drinkForm" noValidate class="form-horizontal" style="width:500px; margin-left:50px;">
  <fieldset>
    <legend>Modify item in the drinks list</legend>
    <div class="modal-body">
   	    <div class="form-group">
	      <label for="modifyName2" class="col-lg-2 control-label">Item name:</label>
	      <div class="col-lg-10">
	        <input type="text" class="form-control" id="modifyName2" name="modifyName2" placeholder="Item name" ng-model="itemChanged.nazivStavke" required>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="modifyDescription2" class="col-lg-2 control-label">Item description:</label>
	      <div class="col-lg-10">
	        <input type="text" class="form-control" id="modifyDescription2" name="modifyDescription2" placeholder="Item description" ng-model="itemChanged.opisStavke" required>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="modifyCost2" class="col-lg-2 control-label">Item cost:</label>
	      <div class="col-lg-10">
	        <input type="text" class="form-control" id="modifyCost2" name="modifyCost2" placeholder="Item cost" ng-model="itemChanged.cenaStavke" ng-pattern="costPattern" required>
	        <span ng-show="drinkForm.modifyCost2.$error.pattern" class="control-label" style="color:red">
	            <span class="glyphicon glyphicon-remove-sign"></span>Cost is not valid!
	        </span>
	      </div>
	    </div>
	    <div class="form-group">
	    
	      <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveDrink(itemChanged, drinkForm)">Save drink</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
	    </div>
    </div>
  </fieldset>
</form>