<div ng-controller="navBarMenadzerRestoranaController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      
      <ul class="nav navbar-nav">
        <li><a href="/#/menadzerRestorana/Menu">Menu</a></li>    
        <li><a href="/#/menadzerRestorana/TablesAndSections">Sitting configuration</a></li> 
        <li><a href="/#/menadzerRestorana/editSchedules">Edit schedules</a></li>
        <li><a href="/#/menadzerRestorana/assignSections">Assign section</a></li> 
        <li><a href="/#/menadzerRestorana/editOffers">Edit offers</a></li> 
        <li><a href="/#/menadzerRestorana/viewBidderOffers">View bidder offers</a></li> 
		<li><a href="/#/menadzerRestorana/Report">Reports</a></li>
		<li><a href="/#/menadzerRestorana/EditRestaurant">Edit restaurant</a></li>
		<li><a href="/#/menadzerRestorana/register">Register</a></li>  
      </ul>      
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/" ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>