<div ng-include="'angular/partials/MenadzerRestorana/menadzerRestoranaNavBar.html'"></div>

<div ng-controller="bidderOffersController" style="margin-left: 50px; width:700px;">

<div ng-repeat="i in ponudeList">
	<table id={{i.id}} style="width:700px;" class="table table-striped table-hover">
	  <caption> Offer from {{i.pocetakPonude}} to {{i.krajPonude}} for restaurant "{{i.nazivRestorana}}" </caption>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Description</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="j in i.namirnice">
	    	<td>{{j.nazivNamirnice}}</td>
			<td>{{j.kolicinaNamirnice }}</td>
		</tr>
	  </tbody>
	</table>

	<table style="width:1000px;" class="table table-striped table-hover ">
	  <thead>
	    <tr>
	      <th>Cost</th>
	      <th>Delivery time</th>
	      <th>Delivery guarantee</th>
	      <th>Description</th>
	      <th>Bidder</th>
	      <th>Accept</th>
	      <th>Decline</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="j in i.ponudjacPonude">
	    	<td>{{j.cena}}</td>
			<td>{{j.rokIsporuke }}</td>
			<td>{{j.garancijaIsporuke}}</td>
			<td>{{j.opis }}</td>
			<td>{{j.usernamePonudjaca}}</td>
			<td ng-switch="j.status">
				<button ng-switch-when="null" class="btn btn-primary" ng-click="acceptOffer(j)">Accept</button>
				<button ng-switch-default class="btn btn-primary" disabled>Accept</button><br>
			</td>
			<td ng-switch="j.status">
				<button ng-switch-when="null" class="btn btn-primary" ng-click="declineOffer(j)">Decline</button>
				<button ng-switch-default class="btn btn-primary" disabled>Decline</button><br>
			</td>
		</tr>
	  </tbody>
	</table>
</div>

</div>