<div ng-include="'angular/partials/Radnik/konobarNavBar.html'"></div>

<div ng-controller="addPorudzbinaController" style=" width:700px;" class="container center_div">
 <div class="row">
 <h3>Select Food menu items:</h3>
 <div style="overflow:scroll;height:150px;overflow:auto" class="col-sm-6">
 	<table class="table table-striped  table-hover">
    <tr><th>Name</th><th>Price</th><th>Add</th></tr>
    <tr ng:repeat="i in menu">
       <td>{{i.nazivStavke}}</td>
       <td>{{i.cenaStavke}}</td>
       <td><button ng-click="addMenuItem(i)" class="btn btn-primary">Add</button></td>
    </tr>
	</table>
  </div>
  <div style="overflow:scroll;height:150px;overflow:auto" class="col-sm-6">
 	<table class="table table-striped  table-hover">
    <tr><th>Name</th><th>Price</th><th>Add</th></tr>
    <tr ng:repeat="i in menuOrder">
       <td>{{i.nazivStavke}}</td>
       <td>{{i.cenaStavke}}</td>
       <td><button ng-click="removeMenuOrderItem(i)" class="btn btn-primary">Remove</button></td>
    </tr>
	</table>
  </div>
  </div>
  
  <div class="row">
   <h3>Select Drinks:</h3>
 <div style="overflow:scroll;height:150px;overflow:auto" class="col-sm-6">
 	<table class="table table-striped  table-hover">
    <tr><th>Name</th><th>Price</th><th>Add</th></tr>
    <tr ng:repeat="i in drinks">
       <td>{{i.nazivStavke}}</td>
       <td>{{i.cenaStavke}}</td>
       <td><button ng-click="addDrinksItem(i)" class="btn btn-primary">Add</button></td>
    </tr>
	</table>
  </div>
  <div style="overflow:scroll;height:150px;overflow:auto" class="col-sm-6">
 	<table class="table table-striped  table-hover">
    <tr><th>Name</th><th>Price</th><th>Add</th></tr>
    <tr ng:repeat="i in drinksOrder">
       <td>{{i.nazivStavke}}</td>
       <td>{{i.cenaStavke}}</td>
       <td><button ng-click="removeDrinksOrderItem(i)" class="btn btn-primary">Remove</button></td>
    </tr>
	</table>
  </div>
  </div>
  <div class="row">
  <form class="form-horizontal">
   <fieldset>
       <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="addPorudzbina()">Send</button>
    </div>
   </fieldset>
  </form>
</div>
</div>

