<div ng-controller="navBarKonobarController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="#/radnik">Profile</a></li>      
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="#/updateRadnikInfo">Update Profile</a></li>      
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="#/konobarPorudzbine">Create Order</a></li>      
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="#/konobarPregled">View Orders</a></li>      
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="#/viewReservations">View Reservations</a></li>      
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/" ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>