<div ng-controller="navBarController">
	<div ng-include="getInclude()"></div>
</div>




<div ng-controller="getRasporedController" style="margin-top: 100px; width:700px;" class="container center_div">


<b>Name: {{radnik.ime}} {{radnik.prezime}}</b>
	<br/>
	Email: {{radnik.email}}
	<br/>
	Role: {{radnik.role}}
	<br/>
	Birth date: {{radnik.birth}}
	<br/>
	Confection Number: {{radnik.kBroj}}
	<br/>
	Shoe Size: {{radnik.velicina}}
	<br/>
	<p ng-hide="radnik.uloga!='KONOBAR'">Default section: {{radnik.section}}</p>
	<p ng-hide="radnik.uloga!='KUVAR'">Cook role: {{radnik.cookrole}}</p>
	
	
	<h3>Work Schedules:</h3>
<table style="width:700px; margin-left:50px;" class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Email</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="i in items">
		<td>{{i.email }}</td>
		<td>{{i.pocetakRada}}</td>
		<td>{{i.krajRada}}</td>
		<td>{{i.vremePocetkaRada}}</td>
		<td>{{i.vremeKrajaRada}}</td>
	</tr>
  </tbody>
</table>

</div>