
<div ng-include="'angular/partials/Radnik/sankerNavBar.html'"></div>

<div ng-controller="sankerPicaController">

<h3>Current drinks on order:</h3>
<table style="width:700px; margin-left:50px;" class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Item name</th>
      <th>Order Time</th>
      <th>Finish</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="i in items">
		<td>{{i.naziv }}</td>
		<td>{{i.datum}}</td>
		<td>
			<button class="btn btn-primary" ng-click="removeItem(i)">Finish</button><br>
		</td>
	</tr>
  </tbody>
</table>

</div>