
<div ng-include="'angular/partials/Radnik/konobarNavBar.html'"></div>

<div ng-controller="viewRezervacijeController" style="margin-top: 100px; width:700px;" class="container center_div">

<h3>Currently active orders:</h3>
<table style="width:700px; margin-left:50px;" class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Tables</th>
      <th>Reservation Time</th>
      <th>Prepare in advance</th>
      <th>Create Order</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="i in items">
		<td>{{i.stolovi}}</td>
		<td>{{i.datum}}</td>
		<td>{{i.ready}}</td>
		<td>
			<button class="btn btn-primary" ng-click="createOrder(i)" ng-disabled="i.state == false">Order</button><br>
		</td>
	</tr>
  </tbody>
</table>

</div>