<div ng-include="'angular/partials/sistemMenadzerNavBar.html'"></div>
<div ng-controller="assignMenadzerController" style="width:700px;">
	
<form class="form-horizontal">
  <fieldset>
    <legend>Assign a manager to a restaurant</legend>
    
    <div class="form-group">
      <label for="selectRestoran" class="col-lg-2 control-label">Restaurant</label>
      <div class="col-lg-10">
      	<select class="form-control" ng-model="info.naziv" ng-options="item for item in restoranList">
    		<option value="">Select Restaurant</option>
		</select>
    </div>
    </div>
     <div class="form-group">
      <label for="selectMenadzer" class="col-lg-2 control-label">Manager</label>
      <div class="col-lg-10">
      	<select class="form-control" ng-model="info.menadzer" ng-options="item for item in menadzerList">
    		<option value="">Select Manager</option>
		</select>
        
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" ng-click="assignMenadzer(info)">Assign</button>
      </div>
    </div>
   
  </fieldset>
</form>
	
</div>