<div ng-include="'angular/partials/sistemMenadzerNavBar.html'"></div>
<div ng-controller="registerRestoranController" style="width:700px;">
	
<form class="form-horizontal" name="registerForm">
  <fieldset>
    <legend>Register Restaurant</legend>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
      	<input type="text" class="form-control" name="inputName" placeholder="Name" ng-model="info.naziv" required />
      	<span ng-show="registerForm.inputName.$error.required" class="control-label" style="color:red">
        	<span class="glyphicon glyphicon-remove-sign"></span>Required!
        </span>
      </div>
    </div>
     <div class="form-group">
      <label for="inputOpis" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <textarea class="form-control" name="inputOpis" id="inputOpis" placeholder="Description" ng-model="info.opis" required></textarea>
      	<span ng-show="registerForm.inputOpis.$error.required" class="control-label" style="color:red">
        	<span class="glyphicon glyphicon-remove-sign"></span>Required!
        </span>
      
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress" class="col-lg-2 control-label">Address</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="inputAddress" id="inputAddress" ng-model="info.adresa" required>
        <span ng-show="registerForm.inputAddress.$error.required" class="control-label" style="color:red">
        	<span class="glyphicon glyphicon-remove-sign"></span>Required!
        </span>
      </div>
    </div>
     <div class="form-group">
      <label for="selectMenadzer" class="col-lg-2 control-label">Manager</label>
      <div class="col-lg-10">
      	<select class="form-control" ng-model="info.menadzer" ng-options="item for item in menadzerList">
    		<option value="">Select Manager</option>
		</select>
        
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" ng-click="registerRestoran(info, registerForm)">Register</button>
      </div>
    </div>
   
  </fieldset>
</form>

<div id="map" style="width:800px; height:800px; margin-top:50px; margin-left:50px;">
    
</div>
	
</div>