<div ng-include="'angular/partials/sistemMenadzerNavBar.html'"></div>

<div ng-controller="sistemMenadzerController" style="margin-top: 200px; width:700px;" class="container center_div">
	
<form class="form-horizontal"  name="registerForm">
  <fieldset>
    <legend>Register restaurant manager</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" ng-model="user.email" ng-pattern="emailPattern" required>
      	<span ng-show="registerForm.inputEmail.$error.pattern" class="control-label" style="color:red">
            <span class="glyphicon glyphicon-remove-sign"></span>Email is not valid!
        </span>
      	<span ng-show="registerForm.inputEmail.$error.required" class="control-label" style="color:red">
        	<span class="glyphicon glyphicon-remove-sign"></span>Required!
        </span>
      </div>
    </div>
     <div class="form-group">
      <label for="inputIme" class="col-lg-2 control-label">First Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="inputIme" placeholder="First Name" ng-model="user.ime" required />
      	<span ng-show="registerForm.inputIme.$error.required" class="control-label" style="color:red">
        	<span class="glyphicon glyphicon-remove-sign"></span>Required!
        </span>
      </div>
    </div>
     <div class="form-group">
      <label for="inputPrezime" class="col-lg-2 control-label">Last Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="inputPrezime" placeholder="Last Name" ng-model="user.prezime" required />
      	<span ng-show="registerForm.inputPrezime.$error.required" class="control-label" style="color:red">
        	<span class="glyphicon glyphicon-remove-sign"></span>Required!
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" ng-model="user.lozinka" ng-pattern="passwordPattern" required>
      	<span ng-show="registerForm.inputPassword.$error.required" class="control-label" style="color:red">
        	<span class="glyphicon glyphicon-remove-sign"></span>Required!
        </span>
        <span ng-show="registerForm.inputPassword.$error.pattern" class="control-label" style="color:red">
            <span class="glyphicon glyphicon-remove-sign"></span>Password must have at least 8 characters, an upper and lowercase letter and a number.
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" ng-click="registerMenadzerRestorana(user, registerForm)">Register</button>
        <a href="#/">Back to login</a>
      </div>
    </div>
  </fieldset>
</form>
	
</div>