<div ng-controller="navBarSistemMenadzerController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/#/registerRestoran">Register restaurant</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/assignMenadzer">Assign manager to restaurant</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/registerMenadzerRestorana">Register restaurant manager</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/registerSistemMenadzer">Register system manager</a></li>      
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/"  ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>