<div ng-controller="navBarPonudjacController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/#/ponudjac/updatePonudjacInfo">Update info</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/ponudjac/addPonuda">Send offer</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/ponudjac/viewOffers">View my offers</a></li>      
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/" ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>