<div ng-controller="navBarAdminController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/#/sviKorisnici">Korisnici</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/sviPacijenti">Pacijenti</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/sviBolesti">Bolesti</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/sviSimptomi">Simptomi</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/sviLekovi">Lekovi</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/sviSastojci">Sastojci</a></li>      
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/"  ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>