<div ng-controller="navBarGostController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="#/gost">Profile</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="#/restorans">Restaurants</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="#/friends">Friend List</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="#/reservations">Reservations</a></li> 
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/" ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>