<div ng-include="'angular/partials/Gost/gostNavBar.html'"></div>

<div  ng-controller="gostController" style="margin-top: 100px; width:750px;" class="container center_div">
	<div class="alert alert-success">
	    <strong>Welcome {{user.ime}} {{user.prezime}}!</strong> 
	</div>
	<table class="table table-hover" ng-show="!updateMode">
	    <col width = 33%>
	    <tr>
	        <th>First Name:</th>
	        <td>{{user.ime}}</td>
	        <td></td>
	    </tr>
	   <tr>
	        <th>Last Name:</th>
	        <td>{{user.prezime}}</td>
	        <td></td>
	    </tr>
	    <tr>
	        <th>Email:</th>
	        <td>{{user.email}}</td>
	        <td></td>
	    </tr>
	    <tr>
	        <th>Number of visits:</th>
	        <td>{{numberOfVisits}}</td>
	        <td><a href="#/visits" class="btn btn-primary">See History</a><td>
	    </tr>
	</table>
	<div class="form-group" ng-show="!updateMode">
        <div class="col-lg-10">
	        <button ng-click="editProfile()" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit Profile</button>
	    </div>
	</div>
	<form class="form-horizontal" name="editForm" novalidate ng-show="updateMode">
		<table class="table table-hover">
		    <col width = 30%>
		    <col width = 70%>
		    <tr>
		        <th>First Name:</th>
		        <td>
		            <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="newInfo.firstName" required />
		            <span ng-show="editForm.firstName.$error.required" class="control-label" style="color:red">
                       <span class="glyphicon glyphicon-remove-sign"></span>Required!
                    </span>
		        </td>
		    </tr>
		    <tr>
		        <th>Last Name:</th>
		        <td>
		            <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="newInfo.lastName" required />
		            <span ng-show="editForm.lastName.$error.required" class="control-label" style="color:red">
                       <span class="glyphicon glyphicon-remove-sign"></span>Required!
                    </span>
		        </td>
		    </tr>
		    <tr>
		        <th>Email:</th>
		        <td>{{user.email}}</td>
		    </tr>
		    <tr>
		        <th>Change Password:</th>
		        <td><input type="checkbox" ng-model="changePassword" ng-change="changePasswordCheckBox()"></td>
		    </tr>
		    <tr ng-show="changePassword">
		        <th>Old Password:</th>
		        <td>
		            <input type="password" class="form-control" name="oldPassword" placeholder="Old Password" ng-model="newInfo.oldPassword" ng-pattern="passwordPattern" required>
		            <span ng-show="editForm.oldPassword.$error.required" class="control-label" style="color:red">
                       <span class="glyphicon glyphicon-remove-sign"></span>Required!
                    </span>
                    <span ng-show="editForm.oldPassword.$error.pattern" class="control-label" style="color:red">
                       <span class="glyphicon glyphicon-remove-sign"></span>Password must have at least 8 characters, an upper and lowercase letter and a number.
                    </span>
                </td>
		    </tr>
		    <tr ng-show="changePassword">
		        <th>New Password:</th>
		        <td>
		            <input type="password" class="form-control" name="newPassword" placeholder="Old Password" ng-model="newInfo.newPassword" ng-pattern="passwordPattern" ng-change="checkPasswords()" required>
		            <span ng-show="editForm.newPassword.$error.required" class="control-label" style="color:red">
                       <span class="glyphicon glyphicon-remove-sign"></span>Required!
                    </span>
                    <span ng-show="editForm.newPassword.$error.pattern" class="control-label" style="color:red">
                       <span class="glyphicon glyphicon-remove-sign"></span>Password must have at least 8 characters, an upper and lowercase letter and a number.
                    </span>
                </td>
		    </tr>
		    <tr ng-show="changePassword">
		        <th>Confirm Password:</th>
		        <td>
		            <input type="password" class="form-control" name="confirmPassword" placeholder="Old Password" ng-model="newInfo.confirmPassword" ng-change="checkPasswords()">
		            <span ng-show="notSamePasswords" class="control-label" style="color:red">
                       <span class="glyphicon glyphicon-remove-sign"></span>Passwords are not matching!
                    </span>
                </td>
		    </tr>
		</table>
        <div class="form-group">
            <div class="col-lg-10">
		        <button ng-click="cancel()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
      	        <button type="submit" ng-click="edit(editForm)" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>Edit</button>
	        </div>
	    </div>
	</form>
</div>