<div ng-include="'angular/partials/Gost/gostNavBar.html'"></div>

<div ng-controller="reservationController" style="margin-left: 50px">
<div ng-show="noID">
  <h3>Wrong Request</h3>
</div>
<div ng-show="!noID">
  <form class="form-horizontal"">
    <fieldset>
      <legend>Reserve</legend>
      
      <div class="form-group">
        <label class="col-lg-2 control-label">Restaurant:</label>
        <label class="col-lg-1 control-label">{{reservation.restoran.naziv}}</label>
      </div>
      <div class="form-group">
        <label for="date" class="col-lg-2 control-label">Date and Time:</label>
        <label class="col-lg-1 control-label">{{reservation.datumIVreme | date:'dd/MM/yyyy HH:mm'}}</label>
      </div>
      <div class="form-group">
        <label for="duration" class="col-lg-2 control-label">Duration:</label>
        <label class="col-lg-1 control-label">{{reservation.duzinaBoravka}} h</label>  
      </div>
      <div class="form-group">
        <label for="duration" class="col-lg-2 control-label">Guests:</label>
        <div class="col-lg-6">
        <table class="table table-hover">
   	      <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Accept</th>
          </tr>
          <tr ng:repeat="p in reservation.pozvaniGosti">
            <td>{{p.ime}}</td>
            <td>{{p.prezime}}</td>
            <td>{{p.prihvatio}}</td>
          </tr>
        </table> 
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button ng-show="canAccept == true" type="submit" class="btn btn-danger" ng-click="reject()">Reject</button>
          <button ng-show="canAccept == true" type="submit" class="btn btn-primary" ng-click="accept()">Accept</button>
          <button ng-show="canOrder == true" type="submit" class = "btn btn-primary" ng-click="order()">Order</button>
          <button ng-show="canDelete == true" type="submit" class = "btn btn-danger" ng-click="delete()">Delete</button>
        </div>
      </div>
      
    </fieldset>
  </form>
</div>
</div>