<div ng-include="'angular/partials/Gost/gostNavBar.html'"></div>

<div ng-controller="reserveThirdController" style="margin-left: 50px">
  <form class="form-horizontal"">
    <fieldset>
      <legend>Reserve</legend>
      
      <div class="form-group">
        <label class="col-lg-2 control-label">Restaurant:</label>
        <label class="col-lg-1 control-label">{{reserve.restaurant.naziv}}</label>
      </div>
      <div class="form-group">
        <label for="date" class="col-lg-2 control-label">Date and Time:</label>
        <label class="col-lg-1 control-label">{{reserve.dateAndTime | date:'dd/MM/yyyy HH:mm'}}</label>
      </div>
      <div class="form-group">
        <label for="duration" class="col-lg-2 control-label">Duration:</label>
        <label class="col-lg-1 control-label">{{reserve.duration}} h</label>  
      </div>
      <div class="form-group">
        <label for="search" class="col-lg-2 control-label">Find Friend:</label>
        <div class="col-lg-2">
          <input type="text" class="form-control" id="search" placeholder="First or Last Name" ng-model="search">
        </div>
      </div>
      <div class="form-group">
        <label for="search" class="col-lg-2 control-label">Friends:</label>
        <div class="col-lg-6">
        <table class="table table-hover">
   	      <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
          </tr>
          <tr ng:repeat="f in friends | filter: myFilter">
	        <td>{{f.ime}}</td>
	        <td>{{f.prezime}}</td>
	        <td><button ng-click="inviteFriend(f, $index)" class="btn btn-primary">Invite</button></td>
	      </tr>
        </table>
        </div>
      </div>
      <div class="form-group">
        <label for="search" class="col-lg-2 control-label">Invited Friends:</label>
        <div class="col-lg-6">
        <table class="table table-hover">
   	      <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
          </tr>
          <tr ng:repeat="f in reserve.guests">
	        <td>{{f.ime}}</td>
	        <td>{{f.prezime}}</td>
	        <td><button ng-click="removeInvite(f, $index)" class="btn btn-primary">Remove</button></td>
	      </tr>
        </table>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-danger" ng-click="back()"><span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back</button>
          <button type="submit" class="btn btn-success" ng-click="reservation()">Reserve</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>