<div ng-include="'angular/partials/Gost/gostNavBar.html'"></div>

<div  ng-controller="viewRestoransController" style="margin-top: 100px; width:800px;" class="container center_div">
<p><label class="col-lg-2 control-label">Restorans:</label></p>
<table class="table table-hover">
   	<tr>
        <th>
            <a href="" ng-click="orderByField='naziv'; reverseSort = !reverseSort">Name</a>
            <span ng-show="orderByField == 'naziv'">
                <span ng-show="!reverseSort"><span class="glyphicon glyphicon-chevron-down"></span></span>
                <span ng-show="reverseSort"><span class="glyphicon glyphicon-chevron-up"></span></span>
            </span>
        </th>
        <th>
            <a href="" ng-click="orderByField='udaljenost'; reverseSort = !reverseSort">Distance</a>
            <span ng-show="orderByField == 'udaljenost'">
                <span ng-show="!reverseSort"><span class="glyphicon glyphicon-chevron-down"></span></span>
                <span ng-show="reverseSort"><span class="glyphicon glyphicon-chevron-up"></span></span>
            </span>
        </th>
        <th>
            <a href="" ng-click="orderByField='adresa'; reverseSort = !reverseSort">Address</a>
            <span ng-show="orderByField == 'adresa'">
                <span ng-show="!reverseSort"><span class="glyphicon glyphicon-chevron-down"></span></span>
                <span ng-show="reverseSort"><span class="glyphicon glyphicon-chevron-up"></span></span>
            </span>
        </th>
        <th>
            <a href="" ng-click="orderByField='generalnaOcena'; reverseSort = !reverseSort">General Rating</a>
            <span ng-show="orderByField == 'generalnaOcena'">
                <span ng-show="!reverseSort"><span class="glyphicon glyphicon-chevron-down"></span></span>
                <span ng-show="reverseSort"><span class="glyphicon glyphicon-chevron-up"></span></span>
            </span>
        </th>
        <th>
            <a href="" ng-click="orderByField='ocenaPrijatelja'; reverseSort = !reverseSort">Friends Rating</a>
            <span ng-show="orderByField == 'ocenaPrijatelja'">
                <span ng-show="!reverseSort"><span class="glyphicon glyphicon-chevron-down"></span></span>
                <span ng-show="reverseSort"><span class="glyphicon glyphicon-chevron-up"></span></span>
            </span>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>
    <tr ng:repeat="r in restorans | orderBy: orderByField : reverseSort">
       <td><a href="#/restoran?naziv={{r.naziv}}">{{r.naziv}}</a></td>
       <td>{{r.udaljenost}}</td>
       <td>{{r.adresa}}</td>
       <td>
           <span uib-rating ng-hide="r.generalnaOcena==0"  read-only="true" ng-model="r.generalnaOcena" max="5"  aria-labelledby="default-rating"></span>
           <div ng-hide="r.generalnaOcena!=0"> No ratings given yet.</div>
       </td>
       <td>
           <span uib-rating ng-hide="r.ocenaPrijatelja==0"  read-only="true" ng-model="r.ocenaPrijatelja" max="5"  aria-labelledby="default-rating"></span>
           <div ng-hide="r.ocenaPrijatelja!=0"> No ratings given yet.</div>
       </td>

       <td><a href="#/restoran?naziv={{r.naziv}}" class="btn btn-primary">Link</a></td>

       <td><button ng-click="goToReservation(r)" class="btn btn-primary">Reserve</button></td>
    </tr>
</table>

<div id="out"></div>
	
</div>