<div ng-include="'angular/partials/Gost/gostNavBar.html'"></div>

<div  ng-controller="visitsController" class="container">
<p><label class="col-lg-2 control-label">My visits:</label></p>
<table class="table table-hover">
   	<tr>
        <th>Restaurant</th>
        <th>Date</th>
        <th>Food</th>
        <th>Service</th>
        <th>General</th>
    </tr>
    <tr ng:repeat="v in visits">
       <td>{{v.restoran}}</td>
       <td>{{v.datum}}</td>
       <td><span uib-rating ng-click="setFoodRating(v)" read-only="v.ocenaHrane > 0" ng-model="v.ocenaHrane" max="5"  aria-labelledby="default-rating"></span></td>
       <td><span uib-rating ng-click="setServiceRating(v, value)" read-only="v.ocenaUsluge > 0" ng-model="v.ocenaUsluge" max="5"  aria-labelledby="custom-icons-1"></span></td>
       <td><span uib-rating ng-click="setGeneralRating(v, value)" read-only="v.ocenaRestorana > 0" ng-model="v.ocenaRestorana" max="5" aria-labelledby="custom-icons-1"></span></td>
       
    </tr>
</table>
	
</div>