
<div ng-include="'angular/partials/Lekar/lekarNavBar.html'"></div>

<div ng-controller="lekarKartonController" style="margin-top: 100px; width:700px;" class="container center_div">

<h3>Pacijenti:</h3>
<table style="width:700px; margin-left:50px;" class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Bolest</th>
      <th>Simptomi</th>
      <th>Propisani Lekovi</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="i in items">
		<td>{{i.datumStr}}</td>
		<td>{{i.bolest.opis}}</td>
		<td>{{i.simptomiStr}}</td>
		<td>{{i.lekoviStr}}</td>
	</tr>
  </tbody>
</table>

</div>