<div ng-controller="navBarLekarController1">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/#/lekarPacijenti">Pacijenti</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/izvestaji">Izvestaji</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/simptomi">Simptomi</a></li>      
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="/#/lekovi">Lekovi</a></li>      
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/"  ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>